<!DOCTYPE html>
<html lang="en-CA">
<head>
  <title><%= h(@page_title) %></title>
  
  <link href="http://<%= hostname %>/feed" rel="alternate" title="Feed for <%= h(Marley::Configuration.blog.title) %>" type="application/atom+xml" />
  <link href="http://<%= hostname %>/feed/comments" rel="alternate" title="Comments for <%= h(Marley::Configuration.blog.title) %>" type="application/atom+xml" />
  <% if @post %>
  <link href="http://<%= hostname %>/<%= @post.id %>/feed" rel="alternate" title="Feed for comments on article &ldquo;<%= h(@post.title) %>&rdquo; <%= h(Marley::Configuration.blog.title) %>" type="application/atom+xml" />
  <% end %>
  
  <link rel="stylesheet" href="/stylesheets/tripoli.simple.css" type="text/css" />
  <!--[if IE]>
    <link rel="stylesheet" href="/stylesheets/tripoli.simple.ie.css" type="text/css" />
  <![endif]-->
  <link rel="stylesheet" href="/stylesheets/gf3.ca.css" type="text/css" />
</head>
<body>

<!-- Page Heading -->
<header id="page-heading" class="content">
  <hgroup>
    <h1><a href="/">gf3.ca</a></h1>
    <% unless @post %>
    <h2>Hai! I am Gianni Chiappetta.</h2>
    <% end %>
  </hgroup>
</header>

<%= yield %>

<!-- Footer -->
<footer>
  <header>
    <h2>kthxbai!</h2>
  </header>
  
  <p>Today, I shall rip time asunder.</p>
</footer>

<% if Marley::Configuration.ga_code && Sinatra::Application.environment == :production %>
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  var pageTracker = _gat._getTracker("<%= Marley::Configuration.ga_code %>");
  pageTracker._trackPageview();
</script>
<% end %>

</body>
</html>
