<!-- Blog -->
<section id="blog" class="content">
  <header>
    <h2>Perhaps some news?</h2>
  </header>
  
  <!-- Articles -->
  <article>
    <header>
      <h3><%= @post.title %></h3>
      <p>On <time datetime="<%= @post.published_on %>"><%= human_date @post.published_on %></time> &ndash; <a href="http://<%= hostname %>/<%= @post.id %>/feed" class="image">Feed</a> &ndash; <a href="/<%= @post.id %>.html">Permalink</a></p>
    </header>
    
    <div class="post-body">
      <%= @post.body_html %>
    </div>
    
    <% if @post.meta['categories'] %>
    <ul class="categories">
      <% @post.meta['categories'].each do |category| %><li><%= category %></li><% end %>
    </ul>
    <% end %>
  </article>
</section>

<!-- Comments -->
<section id="comments" class="content">
  <header>
    <h2>Comments</h2>
    <div class="counter"><%= @post.comments.size %></div>
  </header>
  
  <% if params[:spam_deleted] && authorized? %>
    <div id="spam_deleted" class="info-panel">
      <div class="in">
        <p>OK, <%= params[:spam_deleted] %> spam comments deleted.</p>
      </div>
    </div>
  <% end %>
  
  <% if authorized? %>
  <form action="/admin/<%= @post.id %>/spam" method="post">
  <input type="hidden" name="_method" value="delete">
  <% end %>
  
  <% @post.comments.each_with_index do |comment, index| %>
  <!-- Comment <%= index %> -->
  <% if params[:thank_you] && comment == @post.comments.last %>
  <div id="comment-added-thanks">
    <p>Thank you for your comment!</p>
  </div>
  <% end %>
  <article class="comment<%= ' spam' if comment.spam? %>" id="comment-<%= comment.id %>">
    <header>
      <div class="comment-author">
        <%= comment.url ? "<a href=\"#{h(comment.url)}\">#{h(comment.author)}</a>" : h(comment.author) %>
      </div>
      <time datetime="<%= comment.created_at %>"><a href="http://<%= comment.permalink %>" title="permalink"><%= human_date comment.created_at %></a></time>
    </header>
    
    <div class="post-body">
      <%= markup h(comment.body) %>
    </div>
  </article>
  
  <% if authorized? %>
  <div class="comment-controls">
    <input type="checkbox" name="spam_comment_ids[]" value="<%= comment.id %>" id="spam_comment_id_<%= comment.id %>"<%= ' checked="checked"' if comment.spam? %> />
    <label for="spam_comment_id_<%= comment.id %>">Spam?</label>
  </div>
  <% end %>
  <% end %>
  
  <% if authorized? %>
  <div id="admin-panel" class="info-panel">
    <h3>MARLEY ADMIN PANEL</h3>
    <p><input type="submit" value="Delete marked comments as spam. Careful."></p>
  </div>
  </form>
  <% end %>
</section>

<!-- Comment Form -->
<section id="comment-form" class="content">
  <header>
    <h2 id="add-comment">Leave me some sugar</h2>
  </header>
  
  <form action="/<%= @post.id %>/comments#add-comment" method="post" accept-charset="utf-8">
    <p class="required">
      <label for="author">Name</label>
      <input name="author" id="author" type="text" required />
      <small class='required'>Required</small>
      <% if  @comment and @comment.errors %>
        <div class="error">Author <%= @comment.errors.on(:author) %></div>
      <% end %>
    </p>
  
    <p class="required">
      <label for="email">E-mail</label>
      <input name="email" id="email" type="email" required />
      <small class='required'>Required</small>
      <% if  @comment and @comment.errors %>
        <div class="error">E-Mail <%= @comment.errors.on(:email) %></div>
      <% end %>
    </p>
  
    <p>
      <label for="url">Website</label>
      <input name="url" id="url" type="url" />
    </p>
  
    <p class="required">
      <label for="body">Comment</label>
      <textarea name="body" id="body" required></textarea>
      <small class='required'>Required</small>
      <small>(Use Markdown syntax)</small>
      <% if @comment and @comment.errors %>
        <div class="error">Message <%= @comment.errors.on(:body) if @comment %></div>
      <% end %>
    </p>

    <p>
      <input type="submit" value="Post comment" accesskey="s" />
    </p>
  </form>
</section>
